{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}Смена пароля{% endblock %}


{% block content %}
    <div class="container">
        <div class="row d-flex justify-content-center card-margin">
            <div class="col-7 card text-bg-dark card-padding">
                <div class="row card-padding">
                    <div class="col-12">
                        <h5 class="change-title">Смена пароля</h5>
                    </div>
                    <form action="{% url 'password_change' user_obj.pk %}" method="post">
                        <div class="form square-inputs">
                            {% csrf_token %}
                            {% bootstrap_form form show_label=False %}
                        </div>
                        <div class="form_row">
                            {% bootstrap_button button_type="submit" content='Поменять' button_class="btn btn-primary login-register-button" %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
