{% extends 'base.html' %}
{% block title %}Аккаунт{% endblock %}

{% block content %}
    <div class="container">
        <div class="row d-flex justify-content-center card-margin">
            <div class="col-8 card text-bg-dark card-padding">
                <h3 class="user-title">Информация об аккаунте</h3>
                <div class="user-info-block">
                    <p>Nickname: {{ user.username }}</p>
                    <p>Имя: {{ user.nickname }}</p>
                    <p>Email: {{ user.email }}</p>
                </div>
            </div>
        </div>
        {% include 'partial/comments_list.html' %}
    </div>
{% endblock %}
