* {
    font-family: 'Shantell Sans', cursive;
}

body {
    background: url("/static/img/back_2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.right-menu {
    float: right;
}

.container {
    max-width: 1000px !important;
}

.card-margin {
    margin-top: 42px;
}

.card-margin-product {
    margin-top: 20px;
}

.green {
    background: #1b7a72;
    border-color: #1b7a72;
}

.card-padding {
    padding-top: 15px;
    padding-bottom: 15px;
}

.card-padding-bottom {
    padding-bottom: 15px;
}

.small-text {
    font-size: 13px;
}

.edit-buttons {
    width: 90px;
}

.user-title, .product-comments-title {
    text-align: center;
}

.product-comments-title {
    margin-top: 25px;
    margin-bottom: 30px;
}

.user-info-block, .product-comment-block {
    margin-left: 27px;
}

.product-comment-block {
    margin-bottom: 20px;
}

.user-title {
    margin-top: 5px;
    margin-bottom: 22px;
}