

<div class="row d-flex justify-content-center card-margin">
    <div class="col-8 card text-bg-dark">
        <div class="row card-padding">
            <h3 class="user-title">Отзывы пользователя {{ user.username }}</h3>
            {% if user.user_comments.all %}
                {% for comment in user.user_comments.all %}
                    <div class="row comment-margin-bottom">
                        <div class="col-4">
                            <img src="{{ comment.product.image.url }}" class="img-fluid" alt="{{ comment.product.name }}">
                        </div>
                        <div class="col-7">
                            <p>Продукт: {{ comment.product.name }}</p>
                            <p class="small-text">Категория: {{ comment.product.category }}</p>
                            <p>Оценка: {{ comment.rating }}</p>
                            <p>{{ comment.text }}</p>
                        </div>
                        <div class="row margin-bottom-buttons">
                            <div class="col-2">
                                <a class="btn btn-primary edit-buttons-detail"
                                   href="{% url 'product_update_comment' comment.id %}"
                                   role="button">Изменить</a>
                            </div>
                            <div class="col-3">
                                <a class="btn btn-danger comment-delete" href="{% url 'product_comment_delete' comment.pk %}" role="button">Удалить</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h5 class="not-find">По вашему запросу товары не найдены</h5>
            {% endif %}
        </div>
    </div>
</div>