{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block title %}Детальная информация{% endblock %}

{% block content %}
    <div class="container">
        <div class="row d-flex justify-content-center card-margin">
            <div class="col-8 card text-bg-dark">
                <div class="row card-padding">
                    <div class="col-6 image-margin">
                        {% if product.image %}
                            <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.name }}">
                        {% else %}
                            <img src="{% static 'img/no_image.png' %}" class="img-fluid" alt="{{ product.name }}">
                        {% endif %}
                    </div>
                    <div class="col-6">
                        <h2>
                            {{ product.name }}
                        </h2>
                        <p class="small-text">
                            {{ product.category }}
                        </p>
                        <p>
                            {{ product.description }}
                        </p>
                        <p class="small-text">
                            added: {{ product.created_at }}
                        </p>

                        {% if user.is_authenticated %}
                            <div class="row margin-bottom-buttons">
                                {% if perms.webapp.change_product %}
                                    <div class="col-5">
                                        <a class="btn btn-primary edit-buttons-detail"
                                           href="{% url 'product_update' product.pk %}"
                                           role="button">Изменить</a>
                                    </div>
                                {% endif %}
                                {% if perms.webapp.delete_product %}
                                    <div class="col-3">
                                        <a class="btn btn-danger" href="{% url 'product_delete' product.pk %}" role="button">Удалить</a>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="row margin-bottom-buttons">
                                <div class="col-12">
                                    <a class="btn btn-primary edit-buttons-detail green green-tp product-write-comment"
                                       href="{% url 'product_add_comment' product.pk %}"
                                       role="button">Написать отзыв</a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h3 class="product-comments-title">Отзывы к товару {{ product.name }}</h3>
                    </div>
                </div>
                {% for comment in product.comments.all %}
                    <div class="product-comment-block">
                        <h5>Автор: {{ comment.author }}</h5>
                        <p>Оценка: {{ comment.rating }}</p>
                        <p>{{ comment.text }}</p>
                        {% if user.is_authenticated %}
                            <div class="row margin-bottom-buttons">
                                {% if user.id == comment.author.id %}
                                    <div class="col-2">
                                        <a class="btn btn-primary edit-buttons-detail"
                                           href="{% url 'product_update_comment' comment.id %}"
                                           role="button">Изменить</a>
                                    </div>
                                    <div class="col-3">
                                        <a class="btn btn-danger comment-delete" href="{% url 'product_comment_delete' comment.pk %}" role="button">Удалить</a>
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}