{% extends 'base.html' %}
{% load static %}

{% block title %}Удаление товара{% endblock %}

{% block content %}
    <div class="container">
        <div class="row d-flex justify-content-center card-margin">
            <div class="col-8 card text-bg-dark">
                <div class="row card-padding title-delete">
                    <h3>Вы точно хотите удалить продукт?</h3>
                </div>
                <div class="row">
                    <div class="col-6 image-margin">
                        {% if product.image %}
                            <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.name }}">
                        {% else %}
                            <img src="{% static 'img/no_image.png' %}" class="img-fluid" alt="{{ product.name }}">
                        {% endif %}
                    </div>
                    <div class="col-6">
                        <h2>
                            {{ product.name }}
                        </h2>
                        <p class="small-text">
                            {{ product.category }}
                        </p>
                        <p>
                            {{ product.description }}
                        </p>
                        <p class="small-text">
                            created: {{ product.created_at }}
                        </p>
                        <div class="row margin-bottom-buttons">
                            <div class="col-4">
                                <a class="btn btn-primary edit-buttons" href="{% url 'index' %}"
                                   role="button">Отмена</a>
                            </div>
                            <div class="col-3">
                                <form action="{% url 'confirm_delete' product.pk %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class='btn btn-danger'>Удалить</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}